.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f4f6f8;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .todo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    margin-bottom: 30px;
  }
  
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-item.completed .task {
    text-decoration: line-through;
    color: gray;
  }
  
  .task {
    flex: 1;
    padding-left: 10px;
  }
  